

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffd6e8; 
  margin: 0;
  padding: 40px;
}


.container {
  max-width: 900px;
  margin: 0 auto;
}


h1 {
  text-align: center;
  font-size: 40px;
  color: #2e8b57; 
  margin-bottom: 15px;
}

h2 {
  color: #3cb371; 
  margin-top: 30px;
  margin-bottom: 10px;
}


p {
  line-height: 1.8;
  color: #333;
}


ul {
  padding-left: 20px;
}

li {
  margin-bottom: 8px;
  font-size: 16px;
}


img {
  display: block;
  max-width: 100%;
  margin: 25px auto;
  border-radius: 15px;
  border: 4px solid #3cb371;  
  transition: 0.3s;
}

img:hover {
  transform: scale(1.04);
}


a {
  color: #2e8b57;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #1f6b45;
}


footer {
  margin-top: 50px;
  text-align: center;
  font-size: 14px;
  color: #444;
}
